* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100vh;
}
.main {
  width: 100%;
  height: 100%;
}
#top {
  width: 100%;
  min-height: 60vh;
  background-image: url("paul-earle-wVjd0eWNqI8-unsplash.jpg");
  background-size: cover;
  background-position: 50% 60%;
}
#text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 70%;
  /* background-color: red; */
  padding: 0 10vw;
}
#text h1 {
  font-size: 5vw;
  color: Black;
  font-weight: 500;
}

#textright {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
#textright i {
  color: black;
}
#second {
  margin: 10px;
}
#bottom {
  width: 100%;
  min-height: 40vh;
  /* background-color: wheat; */
  display: flex;
}
#bone {
  width: 25%;
  min-height: inherit;
  padding: 30px;
  background-color: aqua;
}
#bone p {
  font-size: 16px;
  margin-top: 20px;
}
#btwo {
  width: 25%;
  min-height: inherit;

  background-color: rgb(113, 230, 74);
  background-image: url(https://images.unsplash.com/photo-1499353966104-ec5c73302e82?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#bthree {
  width: 20%;
  min-height: inherit;
}
#bthreetop {
  text-decoration: none;
  width: 100%;
  min-height: 20vh;
  padding: 20px;
  color: #fff;
  background-color: orangered;
}
#bthreetop a {
  cursor: pointer;
  outline: none;
  border: 1px;
  font-size: 12px;
}
#bthreetop p {
  margin-top: 10px;
  font-size: 14px;
}
#bthreebottom {
  width: 100%;
  min-height: 24vh;
  background-image: url(https://images.unsplash.com/photo-1442458017215-285b83f65851?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#bfour {
  width: 30%;
  min-height: inherit;

  /* background-color: #444; */
  padding: 30px;
  /* color: #150206; */

  position: relative;
  isolation: isolate;
}
#bfour::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: black;

  opacity: 0.5;
  background-image: url("johan-godinez-dDYRYivNzbI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
}

#overlay {
  width: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.025);
}

@media (max-width: 500px) {
  #overlay #text {
    flex-direction: column;
    align-items: flex-start;
  }
  #text h1 {
    font-size: 10vw;
  }
  #bottom {
    min-height: 20vh;
  }
  #overlay #text #textright {
    align-items: flex-start;
    flex-direction: column;
  }
  #overlay #text #textright p {
    width: initial;
    margin-top: 20px;
  }
  #overlay #text #textright #icon {
    margin-top: 30px;
  }
  #bottom {
    flex-direction: column;
  }
  #bone {
    width: 100%;
  }
  #btwo {
    width: 100%;
  }
  #bthree {
    flex-direction: column;
    width: 100%;
  }

  #bfour {
    width: 100%;
  }
}
